.m-t-30{
    margin-top: 30px;
}

.p-75{
    padding: 75px;
}

.bg-red{
    background-color: rgba(12,1,1,.897) !important;
}

.p-10{
    padding: 10px;
}

label{
    color: white !important;
}
.navbar{
    height: 44px;
    background: transparent !important;
    

}

.collapse li a{
    padding: 10px;
}
.collapse li a:hover{
background-color: rgba(17, 207, 144, 0.978);
}
.carousel-caption{
    margin-bottom: 50px;
}
.sci{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sci li{
    list-style: none;
    margin: 0 20px;
}
.sci li a{
    color: #797878;
    font-size: 2em;
    transition: 0.5s;
}
.sci li a:hover{
    color: #000000;
}
.navbar{
    background-color: transparent !important;
}

